<!DOCTYPE html>
<html>
<head>
    <meta charset="charset=utf-8">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <title>My Webpage</title>
</head>
<body>
<ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>
<h1>{{ heading }}</h1>
<section>
    {% block content %}
        Content of the page...
    {% endblock %}
</section>
</body>
</html>