<!DOCTYPE html>
<html>
<head>
    <meta charset="charset=utf-8">
    <link rel="stylesheet" href="css/style.css"/>
    <title>My Webpage</title>
</head>
<body>
<h1>{{ data }}</h1>
<section>
</section>
</body>
</html>